# Node.js dependencies
node_modules
npm-debug.log*
pnpm-debug.log*

# TypeScript build output
dist

# Local environment files
.env
.env.local

# Logs
*.log

# Git files
.git
.gitignore

# Editor and OS-related
.vscode
.idea
.DS_Store
Thumbs.db

# Test coverage
coverage

# Caches
.cache
